@charset "UTF-8";

* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/62578.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

div.logo {
    width: 250px;
    height: 100px;
}

img.ikamba {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    z-index: 999;
}

.icon {
    fill: #fff;
}

@media  (max-width: 800px) {
    
    .hideMobile {
        display: none;
    }

    img.ikamba {
        width: 100px;
        height: 100px;
    }


}

@media screen and (min-width: 800px) {
    .hideDesktop {
        display: none;
    }
}



/*

footer {
    background-color: darkgray;
    width: 100vw;
    height: 20vh;
}

footer h3 {
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer hr {
    width: 80%;
    margin: auto;
  
}  */